/* FOOTER MAIN BOX */
.footer {
  background: #212A31;
  color: #D3D9D4;
  padding-top: 50px;
  font-family: Arial, sans-serif;
}

/* TOP ROW */
.footer-top {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

/* COLUMN STYLE */
.footer-col {
  width: 30%;
  min-width: 250px;
}

.footer-col h3 {
  color: #ffffff;
  font-size: 24px;
  margin-bottom: 15px;
}

.footer-col h4 {
  color: #ffffff;
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 600;
}

.footer-col p {
  line-height: 1.6;
  font-size: 15px;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin-bottom: 8px;
}

.footer-col ul li a {
  color: #D3D9D4;
  text-decoration: none;
  transition: 0.3s;
}

.footer-col ul li a:hover {
  color: #124E66;
}

/* BOTTOM COPYRIGHT */
.footer-bottom {
  text-align: center;
  padding: 15px 0;
  margin-top: 20px;
  border-top: 1px solid #2E3944;
  font-size: 14px;
  background: #1a2228;
}

/* MOBILE VIEW */
@media (max-width: 768px) {
  .footer-top {
    flex-direction: column;
    gap: 30px;
  }

  .footer-col {
    width: 100%;
  }
}
